<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>세명컴고 배드민턴부 신청서</title>
</head>
<body>
<div class="container">
    <div class="title">2022 배드민턴부 신청서</div>
    <form action="#">
        <div class="box">
            <label>학번 🏸</label>
            <input type="number" pattern="[0-9]+" placeholder="학번을 입력하세요">
        </div>
        <div class="box">
            <label>이름 🏸</label>
            <input type="text" placeholder="이름을 입력하세요">
        </div>
        <div class="submit">
            <button type="submit">신청하기!</button>
        </div>
    </form>
</div>
</div>
</body>
</html>