*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AppleSDGothicNeoEB00;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
}
.background{
    margin: 0 50vh 0;
}
@media (max-width:767px) {
    .background{
        margin: 0 5vh 0;
    }
}
@media (min-width: 768px) and (max-width:1338px) {
    .background{
        margin: 0;
    }
}
.container{
    margin-top: 70px;
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    align-content: center;
    align-items: center;
}
.notice{
    margin-left: 20px;
}
#typography-caption{
    font-family: AppleSDGothicNeoM00;
}
.title{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    word-break: keep-all;
}
.box{
    margin: 20px;
}
label{
    font-size: 30px;
}
span.star{
    color: #e93636;
}
#mini_notice{
    font-family: AppleSDGothicNeoM00;
    display: inline-block;
}
input{
    font-family: AppleSDGothicNeoB00;
    text-align: center;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    font-size: 20px;
}
/*
.error-massage{
   color: #e93636;
}
*/
hr{
    border: 1px solid #d2d2d7;
    margin-top: 40px;
    margin-bottom: 30px;
}
button{
    width: 100%;
    height: 10vh;
    outline: none;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    background-color: #0071e3;
    color: white;
}

