*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /*z-index: 999;*/
}
.nav-title{
    margin: 0 14px 0;
}
.nav-title p{
    margin: 11px 0 -11px;
    display: block;
    font-weight: 500;
    line-height: 1.14286;
    white-space: nowrap;
    letter-spacing: .011em;
    float: left;
    height: 52px;
    font-size: 21px;
    cursor: default;
    color: #f5f5f7;
}
.image{
    max-width: 100%;
    height: auto;
}
/*
.background{
    margin: 0 50vh 0;
}
*/
#mobile-img{
    text-align: center;
}
#typography-head{
    text-align: center;
}
#typography-description{
    text-align: center;
    word-break: keep-all;
    color: rgba(0,0,0,0.8);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
}
.container{
    margin: 70px auto 50px;
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    align-content: center;
    align-items: center;
}
.notice{
    margin-left: 20px;
}
#typography-caption{
    font-weight: 300;
    font-size: 17px;
}
.title{
    margin-top: 20px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    word-break: keep-all;
}
.box{
    margin: 20px;
}
label{
    font-size: 28px;
    font-weight: 700;
}
span.star{
    color: #e93636;
}
#mini_notice{
    font-weight: 300;
    display: inline-block;
}
input{
    font-weight: 300;
    text-align: center;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    font-size: 20px;
}
/*
.error-massage{
   color: #e93636;
}
*/
hr{
    border: 0 solid;
    height: 1px;
    background-color: #d2d2d7;
    margin-top: 40px;
    margin-bottom: 30px;
}
button{
    width: 100%;
    height: 10vh;
    outline: none;
    font-size: 30px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    background-color: #0071e3;
    color: white;
}
.popup-page{
     justify-content: center;
     align-items: center;
     visibility: hidden; /////////
}
#popup-title{
    /*
    white-space: nowrap;
     */
    text-align: center;
}
#popup-description {
    text-align: center;
    word-break: keep-all;
}
.popup-page.active{
    visibility: visible;
}
#interview {
    word-break: keep-all;
    text-align: center;
    color: #0070c9;
}
a{
    text-decoration:none;
}
#link:visited{
    color: #0070c9;
}
#link:hover{
    color: #0070c9;
    text-decoration: none;
}
.copyright{
    text-align: center;
    font-weight: 100;
    font-size: 14px;
}

/* Mobile layout */
@media only screen and (max-width:767px) {
    body{
        background-color: #fff;
    }
    .nav-title p{
        font-size: 19px;
        line-height: 1.26316;
        letter-spacing: .012em;
    }
    #pc-img{
        display: none;
    }
    #mobile-img{
        max-width: 100%;
        margin: 0 auto;
    }
    #typography-head{
        margin: 40px auto 18px;
        font-size: 40px;
        font-weight: 600;
    }
    #typography-description{
        margin: 0 40px 100px;
        font-size: 19px;
        font-weight: 400;
    }
    #between-headline-container{
        margin: 0 60px;
    }
    #typography-caption{
        font-size: 15px;
    }
    .popup-page{
        padding: 40px 45px 25px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 90%;
        height: auto;
        border-radius: 50px;
        /* 바탕 어둡게 처리 */
        box-shadow: 0 25px 50px rgba(0,0,0,0.5), 0 0 0 1000px rgba(0,0,0,0.6);
    }
    #popup-title{
        margin-bottom: 30px;
        font-size: 45px;
        font-weight: 700;
    }
    #popup-description{
        font-size: 23px;
        font-weight: 400;
    }
    #interview{
        margin: 30px auto 20px;
        font-size: 18px;
        font-weight: 400;
    }
    .copyright{
        font-size: 12px;
    }
}

/* PC layout */
@media only screen and (min-width:767px) {
    body{
        height: 130vh; /* PC 윗 여백 생성 */
    }
    .nav-title p{
        max-width: 100%;
        line-height: 1.26316;
        letter-spacing: .012em;
    }
    .background{
        margin: 50vh 50vh 0;
    }
    #mobile-img{
        display: none;
    }
    #typography-head{
        margin: 90px auto 30px;
        font-size: 60px;
        font-weight: 700;
    }
    #typography-description{
        margin: 0 600px 100px; /* 줄바꿈 여백 */
        font-size: 25px;
    }
    #between-headline-container{
        margin: 0 500px; /* hr 길이*/
    }
    .popup-page{
        padding: 50px 50px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 40%;
        height: auto;
        border-radius: 30px;
        /* 바탕 어둡게 처리 */
        box-shadow: 0 25px 50px rgba(0,0,0,0.5), 0 0 0 1000px rgba(0,0,0,0.7);
    }
    #popup-title{
        margin-bottom: 30px;
        font-size: 60px;
        font-weight: 700;
    }
    #popup-description{
        font-size: 25px;
        font-weight: 400;
    }
    #interview{
        margin: 40px auto 0;
        font-size: 20px;
        font-weight: 400;
    }
    #link:visited{
        color: #0070c9;
    }
    #link:hover{
        text-decoration: underline;
    }

}