* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 999;
}

.nav-title {
    margin: 0 14px 0;
}

.nav-title p {
    margin: 11px 0 -11px;
    display: block;
    font-weight: 500;
    line-height: 1.14286;
    white-space: nowrap;
    letter-spacing: .011em;
    float: left;
    height: 52px;
    font-size: 21px;
    cursor: default;
    color: #f5f5f7;
}

.background {
    margin: 0;
}

#pc-vid, #pc-vid2, #pc-vid3, #mobile-vid1, #mobile-vid2, #mobile-vid3 {
    max-width: 100%;
    height: auto;
}

#pc-vid1 {
     position: relative;
     width: 100%;
     height: auto;
 }

.intro{
    float: left;

}

.intro .intro-title{
    font-weight: 700;
    letter-spacing: 0.02em;
    word-break: keep-all;
}

.side-margin {
    height: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.second-mobile, .third-mobile {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    /*padding: 20px;*/
}

.typography-eyebrow {
    font-weight: 700;
}

.second-text-mobile .second-typography-headline {
     font-weight: 700;
 }

.second-text-mobile .second-typography-description {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.7);
}

.second-text-mobile, .third-text-mobile {
    color: #fff;
    position: absolute;
    width: 100%;
}

.typography-quarantine-guideline {
    word-break: keep-all;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.typography-headline {
    font-weight: 700;
}

.typography-description-date {
    font-weight: 500;
}

.copyright {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    width: 100%;
    bottom: 0;
}

/* Mobile layout */
@media only screen and (max-width: 767px) {

    .nav-title p {
        font-size: 19px;
        line-height: 1.26316;
        letter-spacing: .012em;
    }

    #pc-vid1, #pc-vid2, #pc-vid3 {
        display: none;
    }

    /*
    .first-mobile #mobile-vid1 {
        /*width: 767px;*/
    /*object-fit: fill;
    position: relative;
    width: 100%;
    height: auto;

}*/
    .intro {
        margin: 30px 10% 50px;
        font-size: 25px;
    }

    .side-margin {
        padding: 0 15px;
    }

    .second-mobile, .third-mobile {
        border-radius: 20px;
        /*padding: 20px;*/
    }


    #mobile-vid2, #mobile-vid3 {
        filter: brightness(50%);
        outline: none;
        border: none;
        overflow: hidden;
    }

    /* 하단부 border-radius 잘림 방지 */
    #mobile-vid2, #mobile-vid3 {
        margin-bottom: -10px;
    }

    .second-text-mobile, .third-text-mobile {
        padding-right: 30%;
        top: 10%;
        left: 10%;
        width: 100%;
    }

    /* .second-text-mobile & .third-text-mobile 스타일 공유*/
    .typography-eyebrow {
        font-size: 22px;
    }

    .second-text-mobile .second-typography-headline {
        padding-top: 20px;
        font-size: 80px;
    }

    .second-text-mobile .second-typography-description {
        padding-top: 10px;
        font-size: 17px;
    }

    .typography-quarantine-guideline {
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 1.6;
    }

    .blank {
        margin: 3% 0;
    }

    .typography-headline {
        padding-top: 20px;
        font-size: 50px;
    }

    .typography-description-date {
        margin-top: 10px;
        font-size: 32px;
    }

    .typography-description-time {
        font-size: 20px;
    }

    /* grade-1 과 grade-2_3 사이 간격 */
    .grade-2_3 {
        margin-top: 70px;
    }

    .copyright {
        font-size: 12px;
    }
}

/* PC layout */
@media only screen and (min-width: 767px) {

    #mobile-vid1, #mobile-vid2, #mobile-vid3 {
        display: none;
    }

    #pc-vid1{
        width: 100%;
        margin-top: -300px; /* 비디오 위로 올림 */
    }

    .side-margin {
        padding: 0 16vw;
    }

    .second-mobile, .third-mobile {
        border-radius: 50px;
    }

    /* 하단부 border-radius 잘림 방지 */
    #pc-vid2, #pc-vid3 {
          margin-bottom: -10px;
      }

    .typography-quarantine-guideline{
        font-size: 30px;
    }

    .second-text-mobile .second-typography-headline {
        font-size: 80px;
    }

    .intro-title{
        font-size: 30px;
    }


}

